@media only screen and (min-width: 480px){
}

@media only screen and (min-width: 768px){
    .video-player{
        width: 100%;
        height: 100%;
    }
    
    .sound-player{
        width: 100%;
        height: 100%;
    }
    
    .container {
        width: 100%;
    }
    
    .header-wrapper {
        width: 100%;
        /* position: absolute; */
        background: #212429;
        top: 0;
        left: 0;
        opacity: 1; 
    }
    
    .header-view {
        width: 93.406593%;
        background:  #212429;
        height: 220px;
        margin-left: 3.296703%;
        margin-right: 3.296703%;
    }
    
    .navbar-wrapper {
        width: 100%;
        background:  #212429;
        /* height: 100px; */
    }
    
    .navbar {
        float: left;
        background:  #212429;
        width: 15%;
        /* height: 50%; */
    }
    
    .navbar-left {
        float: left;
    }
    
    .navbar img{
        padding-left: 21px;
        padding-top: 20px;
        padding-bottom: 22px;
    }
    
    .logo-icon-wrapper {
        float: right;
        width: 70%;
        height: 100%;
    }
    
    .logo {
        float: left;
        background: #212429;
        width: 50%;
        height: 100%;
    }
    
    .icon {
        float: right;
        /* width: 34%; */
        background:  #212429;
        height: 100%;
        display: block;
        padding-top: 15px;
    }
    .icons {
        text-align: center;
    }
    
    .icons-first a img {
        width: 12px;
        height: 12px;
    }
    
    .icons-rest a img {
        width: 12px;
        height: 12px;
    }
    .icons .btn{
        display: block;
        height: 100%;
        padding-left: 15px; 
        padding-right: 18px;
        padding-top: 10px;
    }
    
    .icons-first {
        width: 40px;
        height: 40px;
        float: left; 
        display: block;
        text-align: center;
    }
    
    .icons-rest {
        display: block;
        width: 40px;
        height: 40px;
        float: left; 
    }
    
    .body-wrapper {
        width: 93.406593%;
        background: #f9f9fb;
        margin: 0 3.296703% 0 3.296703%; 
        overflow: hidden;
    }
    
    .image-newsletter-wrapper {
        width: 100%;
        height: 225px;
    }
    
    .image-wrapper  img{
        width: 100%;
        height: 350px;
    }
    
    .newsletter-wrapper {
        width: 100%;
        /* height: 30px; */
        background: #f9f9fb;
        padding: 1.960784% 1.960784% 0 1.960784%;
    
    }
    
    .newsletter-left {
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2px;
        float: left;
        width: 11.437908%;
        background: #f9f9fb;
    }
    
    .newsletter-right {
        float: right;
        width: 84.64052287%;
    }
    
    .newsletter-form {
        float: left;
        width: 75%;
        padding-left: 5px;
        background: #f9f9fb;
    }
    
    .newsletter-form input {
        height: 30px;
        width: 45.723014%;
        text-align: center;
        font-size: 8px;
    }
    
    .newsletter-button {
        float: right;
        width: 25%;
        display: block;
        height: 30px;
        font-size: 8px;
    }
    
    .newsletter-button a {
        display: block;
        text-decoration: none;
        color:#ffffff;
    }
    
    .body-sidebar-wrapper {
        width: 100%;
        margin-top: 10px;
    }
    
    .content-wrapper {
        width: 74.509803%;
        background: #ffffff;
        float: left;
        margin-bottom: 10px;
    }
    
    .image-description-wrapper {
        position: relative;
        /* background: #131d1c; */
        /* margin-bottom: 62px;   */
    }
    
    .top-wrapper {
        position: relative;
        background: #3a3c49;
        height: 200px;
    }
    
    
    
    .image-over1 {
        position: absolute;
        background: #cc2127;
        width: 25px;
        display: block;
        padding-left: 3px;
        padding-top: 1.5px;
        height: 25px;
        z-index: 1;
        right: 0px;
        top: 0px;
    }
    
    .image-over1 img{
        width: 19px;
        height: 25px;
    }
    
    .image-over1 a {
        display: block;
    }
    
    .image-over2 {
        position: absolute;
        display: block;
        background: #212121;
        width: 25px;
        padding-left: 3px;
        padding-top: 1.5px;
        height: 25px;
        z-index: 1;
        left: 48%;
        bottom: -10px;
    }
    
    .image-over2 img{
        width: 19px;
        height: 25px;
    }
    
    .image-over22 {
        position: absolute;
        display: block;
        background: #212121;
        width: 25px;
        padding-left: 3px;
        padding-top: 1.5px;
        height: 25px;
        z-index: 1;
        left: 48%;
        top: 180px;
    }
    
    .image-over22 img {
        width: 19px;
        height: 25px;
    }
    
    .image-over-quote {
        position: absolute;
        background:#ffffff ;
        width: 30px;
        padding-top: 9px;
        height: 44px;
        z-index: 2;
        left: 48%;
        top: -25px;
    }
    
    .image-over-quote img{
        width: 19px;
        height: 25px;
    }
    
    .image-over-des {
        position: absolute;
        background:#131d1c ;
        width: 24px;
        padding-left: 1px;
        padding-top: 1.5px;
        height: 30px;
        z-index: 2;
        left: 48%;
        top: -25px;
    }
    
    .image-over-music {
        position: absolute;
        background: #212121;
        width: 30px;
        height: 30px;
        z-index: 1;
        left: 48%;
        bottom: -27px;
    }
    
    .image-over-music a {
        display: block;
        padding-left: 5px;
        padding-top: 5px;
    }
    
    .image-over-music img {
        width: 19px;
        height: 25px;
    }
    
    .image-over-des img {
        width: 19px;
        height: 25px;
    }
    
    .image-over2 a {
        display: block;
    }
    
    .blog-image1 {
        width: 100%;
        height: 200px;
    }
    
    .left-image {
        float: left;
        width: 150px;
    }
    .left-image img{
        width: 150px;
        height: 100px;
    }
    
    .middle-image {
        float: right;
        width: 310px;
    }
    
    .third-image img{
        width: 150px;
        height: 205px;
        padding-left: 14px;
    }
    
    .third-image {
        float: left;
        width: 150px;
        height: 200px;
    }
    
    .right-image {
        float:right;
        width: 150px;
    }
    
    .right-image img{
        width: 150px;
        height: 100px;
    }
    
    .fourth-image img{
        width: 150px;
        height: 100px;
    }
    .fifth-image img{
        width: 150px;
        height: 100px;
    }
    
    
    .bottom-wrapper {
        text-align: justify;
        text-align-last: center;
        padding: 30px 10px 0 10px;
        width:100%;
    }
    
    .content-title {
        font-size: 7px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    .username-date-wrapper img {
        height: 14px;
        width: 14px;
    }
    
    .content-header,.content-title {
        padding-bottom: 5px;
    } 
    
    .content-description,.more-button {
        padding-bottom: 10px;
    }
    
    .content-header {
        font-size: 10px;
    }
    
    .username-date-wrapper {
        font-size: 10px;
    }
    
    .content-description {
        font-size: 9px;
    }
    
    .more-button a{
        font-size: 10px;
    }
    
    .social-share-wrapper {
        width:100%;
        background: #f9f9fb;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .reaction-wrapper {
        float: left;
    }
    
    .reaction-wrapper span{
        padding-right: 15px;
    }
    
    .social-share-wrapper img {
        height: 8px;
        width: 8px;
    }
    
    .social-share-wrapper {
        font-size: 10px;
    }
    
    .share-icons-wrapper span {
        float: right;
        padding-left: 20px;
    }
    
    .reaction-icon-state img:hover{
        width: 10px;
        height: 10px;
    }
    
    .share-icons-state:hover img {
        width: 10px;
        height: 10px;
    }
    
    .quote-description-wrapper {
        position: relative;
        background: #131d1c;
        color: #ffffff;
        margin-bottom: 62px; 
        margin-top: 20px; 
    }
    
    .quote {
        padding: 18px 10px 10px 13px;
    }
    
    .author {
        color: #757878;
        padding-bottom: 60px; 
    }

    .sidebar-wrapper {
        display: block;
        width: 23.529411%;
        float: right;
        background: #ffffff;
        padding: 2.614379% 1.960784% 2.614379% 1.960784%;
    }

    .input-form {
        width: 86.388888%;
        float: left;
    }

    .input-form input{
        font-size: 8px;
        height: 25px;
        width: 100%;
    }

    .search-icon {
        float: right;
        display: block;
        width: 13.611111%;
        height: 25px;
        background: black;
    }

    .search-icon a{
        display: block;
        padding: 5px 4px;
    }

    .search-icon img{
        display: block;
        height: 14px;
        width: 14px;
    }

    .image-ad img{
        width: 100%;
    }

    .categories-wrapper {
        width: 100%;
    }

    .categories-wrapper ul li {
        padding-top: 15px;
        display: block;
        font-size: 10px;
    }

    .categories-header {
        text-align: center;
        padding-bottom: 15px;
    }

    .categories-header h1 {
        font-size: 14px;
    }

    .post-header h1 {
        font-size: 14px;
    }

    .categories-left {
        float: left;
    }
    
    .categories-right {
        float: right;
    }

    .post-wrapper {
        width: 100%;
    }
    
    post-contents {
        width: 100%;
    }
    .post-image {
        width: 22.222222%;
        height: 62px;
        background: grey;
        float: left;
    }
    
    .post-description {
        float: right;
        width: 73.333333%;
        height: 62px;
        font-size: 10px;
    }
    
    .post-title {
        width:100%;
        color: #212121;
        padding-bottom: 15px;
        font-size: 10px;
    }

    .icons-list  img:hover{ 
        width: 10px;
        height: 10px;
    } 
    
    .icons-list { 
        width: 100%
    } 
    
    .icons-list img{
        height: 8px;
        width: 8px;
    }
    
    .icons-list li:first-child{
        padding-left: 0;
    }
    
    .icons-list li{
        padding-left: 16.333333%;
        display: inline;
    }

    .image-slider {
        height: 100px;
        width: 100%;
        background: grey;
        text-align: center;
    }

    .facebook-page {
        padding-top: 40px;
    }
    .facebook-page img {
        width: 100%;
    }
    
    .footer-wrapper {
        width: 100%;
        background: #212429;
        padding-left: 0px;
        color: #e1e2e2;
        overflow: hidden;
    }
    .about-blog img {
        width: 100%;
    }
    .footer-top {
        padding-top: 3.98692%;
        width: 93.406593%;
        color: #e1e2e2;
        background: #212429;
        overflow: hidden;
    }

    .footer-content {
        width: 50%;
        float: left;
        color: white;
        padding-left: 3.296703%;
    }

    .about-blog {
        float: left;
        width: 48.039215%;
    }
    .latest-tweets {
        float: right;
        width: 48.039215%;
    }
    
    .tweets-content img{
        width: 14px;
        height: 14px;
    }

    .latest-tweets-header {
        text-align: left;
    }

    .footer-content-r {
        width: 50%;
        float: right;
        color: white;
        padding-right: 3.296703%;
    }

    .follow-me {
        float: left;
        width: 48.039215%;
    }

    .instagram-content {
        margin-top: 2.614379%;
        background: lime;
    }

    .instagram-content img{
        width: 32.653061%;
        height: 31.012658%;
    }

    .first {
        float: left;
        width: 33.333333%;
        padding-top: 40px;
    }

    .second {
        float: right;
        width: 66.666666%;
        padding-top: 40px;
    }
    
    .third {
        float: left;
        width: 50%;
    }
    
    .fourth {
        float: right;
        width: 50%;
    }
    
    .latest-comment {
        float: right;
        width: 48.039215%;
    } 
    .sline {
        border-top: 1px solid #757878;
    }
    
    .footer-bottom {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 17px;
        color: #555659;
        text-align: center;
    }
    
    
}


@media only screen and (min-width: 1200px){
    .video-player{
        width: 100%;
        height: 489px;
    }

    .sound-player{
        width: 100%;
        height: 300px;
    }
    
    .footer-wrapper {
        display: block;
    }
    .sidebar-wrapper {
        display: block;
    }
    .top-wrapper video-player {
        display: block;
    }
    
    .image-over-music {
        display: block;
    }
    
    .image-description-wrapper iframe {
        display: block;
    }
    .container {
        width: 100%;
    }
    
    .header-wrapper {
        width: 100%;
        background: #212429;
        margin: 0 auto;
    }
    
    .header-view {
        /* width: 1530px; */
        width: 93.406593%;
        background: red;
        height: 345px;
        margin-left: 3.296703%;
        margin-right: 3.296703%;
    }
    
    .navbar-wrapper {
        width: 100%;
        background: #212429;
        height: 55px;
    }
    
    .navbar {
        float: left;
        /* background: #212429; */
        width: 47.058823%;
        height: 100%;
    }
    
    .navbar-left {
        float: left;
    }
    
    .navbar img{
        padding-left: 21px;
        padding-top: 20px;
        padding-bottom: 22px;
    }
    
    .logo-icon-wrapper {
        float: right;
        width: 52.941176%;
        height: 100%;
    }
    
    .logo {
        float: left;
        width: 20%;
        height: 100%;
    }
    
    .icon {
        float: right;
        /* width: 25%; */
        /* background:  #212429; */
        height: 100%;
        padding-top: 0px;
    }

    .icons {
        text-align: center;
    }
    
    .icons .btn{
        display: block;
        height: 100%;
        padding-left: 17px; 
        padding-right: 18px;
        padding-top: 20px;
    }
    
    .icons-first {
        display: block;
        width: 54px;
        height: 55px;
        float: left; 
    }
    
    .icons-rest {
        display: block;
        width: 54px;
        height: 55px;
        float: left; 
    }
    
    .body-wrapper {
        width: 93.406593%;
        background: #f9f9fb;
        margin: 0 3.296703% 0 3.296703%; 
        overflow: hidden;
    }
    
    .image-newsletter-wrapper {
        width: 100%;
        height: 681px;
    }
    
    .image-wrapper  img{
        width: 100%;
        height: 581px;
    }
    
    .newsletter-wrapper {
        width: 100%;
        height: 99px;
        background: #f9f9fb;
        padding: 1.960784% 1.960784% 0 1.960784%;
    }
    
    .newsletter-left {
        float: left;
        width: 11.437908%;
        background: #f9f9fb;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 2px;
        background: #f9f9fb;
    }
    
    .newsletter-right {
        float: right;
        width: 84.64052287%;
    }
    
    .newsletter-form {
        float: left;
        width: 75%;
        padding-left: 55px;
        background: #f9f9fb;
    }
    
    .newsletter-form input {
        height: 48px;
        width: 45.723014%;
        text-align: center;
        font-size: 12px;
    }
    
    .newsletter-button {
        float: right;
        width: 25%;
        display: block;
        height: 48px;
        font-size: 12px; 
        letter-spacing: 4px;
    }
    
    .newsletter-button a {
        display: block;
        text-decoration: none;
        color:#ffffff;
    }
    
    .body-sidebar-wrapper {
        width: 100%;
        margin-top: 61px;
    }
    
    .content-wrapper {
        width: 74.509803%;
        background: #ffffff;
        float: left;
        margin-bottom: 50px;
    }
    
    .image-description-wrapper {
        position: relative;
        background: #131d1c; 
        margin-bottom: 62px;  
    }

    .quote-description-wrapper {
        position: relative;
        background: #131d1c;
        color: #ffffff;
        margin-bottom: 62px;  
    }
    
    .top-wrapper {
        position: relative;
        width:100%;
        height: 489px;
        background: #3a3c49;
    }

    .image-over1 img{
        width: 19px;
        height: 25px;
    }
    
    .image-over1 {
        position: absolute;
        background: #cc2127;
        width: 51px;
        display: block;
        height: 44px;
        z-index: 1;
        right: 0px;
        top: 0px;
    }
    
    .image-over1 a {
        display: block;
        padding-left: 17px;
        padding-top: 9px;
    }
    
    .image-over2 {
        position: absolute;
        display: block;
        background: #212121;
        width: 51px;
        height: 44px;
        z-index: 1;
        left: 48%;
        bottom: -18px;
    }

    .image-over2 img{
        width: 19px;
        height: 25px;
    }

    .image-over2 a {
        display: block;
        padding-left: 17px;
        padding-top: 9px;
    }
    

    
    
    .image-over-quote {
        position: absolute;
        background:#ffffff ;
        width: 51px;
        height: 44px;
        z-index: 2;
        left: 48%;
        top: -25px;
    }

    .image-over-quote img{
        width: 19px;
        height: 25px;
    }

    .image-over-quote a {
        display: block;
        padding-top: 9px;
    }
    
    .image-over-des {
        position: absolute;
        background:#131d1c ;
        width: 51px;
        height: 44px;
        z-index: 2;
        left: 48%;
        top: -20px;
    }

    .image-over-des a {
        display: block;
        padding-left: 17px;
        padding-top: 9px;
    }

    .image-over-des img {
        width: 19px;
        height: 25px;
    }

    .image-over-music {
        position: absolute;
        background: #212121;
        width: 51px;
        height: 44px;
        z-index: 1;
        left: 48%;
        bottom: -27px;
    }

    .image-over-music a {
        display: block;
        padding-left: 17px;
        padding-top: 9px;
    }

    .image-over-music img {
        width: 19px;
        height: 25px;
    }

    .image-over22 {
        position: absolute;
        display: block;
        background: #212121;
        width: 51px;
        height: 44px;
        z-index: 1;
        left: 48%;
        top: 465px;
    }

    .image-over22 img {
        width: 19px;
        height: 25px;
    }

    .image-over22 a{
        display: block;
        padding-left: 17px;
        padding-top: 9px;
    }
    
    .image-over2 a {
        display: block;
    }
    
    .blog-image1 {
        width: 100%;
        height: 489px;
    }
    
    .left-image {
        float: left;
    }
    
    .first-image img{
        width: 380px;
        height: 244.5px;
    }

    .second-image img{
        width: 380px;
        height: 244.5px;
    }
    
    .middle-image {
        float: right;
        width: 760px;
    }
    
    .third-image {
        float: left;
        width: 380px;
    }

    .third-image img{
        width: 380px;
        height: 493px;
        padding-left: 0px;
    }
    
    .right-image {
        float:right;
        width: 380px;
    }
    
    .fourth-image img{
        width: 380px;
        height: 244.5px;
    }
    .fifth-image img{
        width: 380px;
        height: 244.5px;
    }
    
    
    .bottom-wrapper {
        text-align: justify;
        text-align-last: center;
        padding: 30px 10px 0 10px;
        width:100%;
        background: #f9f9fb;
    }

    .description-wrapper {
        width:100%;
        background: #f9f9fb;
    }
    
    .content-title {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }

    .username-date-wrapper {
        padding-bottom: 40px;
    }
    
    .username-date-wrapper img {
        height: 14px;
        width: 14px;
    }

    .content-header{
        font-size: 16px;
    }
    
    .content-header,.content-title {
        padding-bottom: 30px;
    } 
    
    .content-description,.more-button {
        padding-bottom: 60px;
    }
    
    .username-date-wrapper {
        font-size: 16px;
    }
    
    .content-description {
        font-size: medium;
    }
    
    .more-button a{
        font-size: 16px;
    }
    
    .social-share-wrapper {
        width:100%;
        background: #f9f9fb;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .reaction-wrapper {
        float: left;
    }
    
    .reaction-wrapper span{
        padding-right: 35px;
    }
    
    .social-share-wrapper img {
        height: 14px;
        width: 14px;
    }
    
    .social-share-wrapper {
        font-size: 16px;
    }
    
    .share-icons-wrapper span {
        float: right;
        padding-left: 20px;
    }
    
    .reaction-icon-state img:hover{
        width: 20px;
        height: 20px;
    }
    
    .share-icons-state:hover img {
        width: 20px;
        height: 20px;
    }
    
    
    .quote {
        padding: 68px 60px 60px 63px;
    }
    
    .author {
        color: #757878;
        padding-bottom: 60px; 
    }

    .sidebar-wrapper {
        width: 23.529411%;
        float: right;
        background: #ffffff;
        padding: 2.614379% 1.960784% 2.614379% 1.960784%;
    }
    
    .input-form {
        width: 86.388888%;
        float: left;
    }
    .input-form input{
        font-size: 12px;
        height: 50px;
        width: 100%;
    }
    
    .search-icon {
        float: right;
        display: block;
        width: 13.611111%;
        height: 50px;
        background: black;
    }
    
    .search-icon a{
        display: block;
        padding: 15px 8px;
    }
    
    .search-icon img{
        display: block;
        height: 14px;
        width: 14px;
    }

    .image-ad img{
        width: 100%;
    }

     .categories-wrapper {
         width: 100%;
     }
    .categories-wrapper ul li {
        padding-top: 30px;
        display: block;
        font-size: 13px;
    }
       
    .categories-header {
        text-align: center;
        padding-bottom: 20px;
    }

    .categories-header h1 {
        font-size: 18px;
    }

    .post-header h1 {
        font-size: 18px;
    }
    
    .categories-left {
        float: left;
    }
    
    .categories-right {
        float: right;
    }

    .post-wrapper {
        width: 100%;
    }
    
    post-contents {
        width: 100%;
    }
    .post-image {
        width: 22.222222%;
        height: 62px;
        background: grey;
        float: left;
    }
    
    .post-description {
        float: right;
        width: 73.333333%;
        height: 62px;
        font-size: 12px;
    }
    
    .post-title {
        width:100%;
        color: #212121;
        padding-bottom: 20px;
        font-size: 15px;
    }
    
    .icons-list  img:hover{ 
        width: 16px;
        height: 16px;
    } 
    
    .icons-list { 
        width: 100%
    } 
    
    .icons-list img{
        height: 14px;
        width: 14px;
    }
    
    .icons-list li:first-child{
        padding-left: 0;
    }
    
    .icons-list li{
        padding-left: 16.333333%;
        display: inline;
    }
    
    .image-slider {
        height: 230px;
        width: 100%;
        background: grey;
        text-align: center;
    }
    
    .facebook-page {
        padding-top: 40px;
    }
    .facebook-page img {
        width: 100%;
    }
    
    
    .footer-wrapper {
        width: 100%;
        padding-left: 0px;
        background: #212429;
        font-size: 12px;
        overflow: hidden;
    }
    
    .footer-top {
        padding-top: 3.98692%;
        width: 93.406593%;
        color: #e1e2e2;
        background: #212429;
        overflow: hidden;
    }
    
    .footer-content {
        width: 50%;
        float: left;
        color: white;
        padding-left: 3.296703%;
    }
    
    .about-blog {
        float: left;
        width: 48.039215%;
    }

    .about-blog img {
        width: 100%;
    }
    
    .latest-tweets {
        float: right;
        width: 48.039215%;
    }

    .tweets-content img{
        width: 14px;
        height: 14px;
    }
    
    .latest-tweets-header {
        text-align: left;
    }
    
    .footer-content-r {
        width: 50%;
        float: right;
        color: white;
        padding-right: 3.296703%;
    }
    
    .follow-me {
        float: left;
        width: 48.039215%;
    }

    .instagram-content {
        margin-top: 2.614379%;
        background: lime;
    }
    
    .instagram-content img{
        width: 32.653061%;
        height: 31.012658%;
    }
    
    .first {
        float: left;
        width: 33.333333%;
        padding-top: 40px;
    }
    
    .second {
        float: right;
        width: 66.666666%;
        padding-top: 40px;
    }
    
    .third {
        float: left;
        width: 50%;
    }
    
    .fourth {
        float: right;
        width: 50%;
    }
    
    .latest-comment {
        float: right;
        width: 48.039215%;
    } 
    .sline {
        border-top: 1px solid #757878;
    }
    
    
    .footer-bottom {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 17px;
        background: #17191c;
        color: #555659;
        text-align: center;
    }
    
    
}